/* mi css */
body{
    height: 100%;
}

.app{
    height: 100vh;
    display: flex;
}

.contactos{
    background-color: #FFF;
    flex-grow: 2;
    border: 1px solid #BEC1BB;
}

.mensajes{
    background-color: #f8f8f8;
    flex-grow: 6;
    display: flex;
    justify-content: center;
    align-items: center;
}

